:root {
  --pick-btn-hover-color: rgb(96, 51, 117);
}

button {
  font: inherit;
}

.tab-sellect-btn {
  display: flex;
  background: none;
  border: none;

  color: azure;

  transition: all 0.2s ease;

  padding-left: 20px;

  width: 100%;
}

.tab-sellect-btn:hover {
  color: var(--pick-btn-hover-color);
  background-color: rgba(184, 184, 184, 0.041);
  padding-left: 50px;
}

.tab-sellect-btn:active {
  background-color: rgba(184, 184, 184, 0.199);
  border-radius: 10px;
  padding-left: 30px;
}

.playback-player-contoll-btn {
  margin-left: 35px;
  margin-bottom: 20px;
  border-radius: 100%;

  border: none;

  background-color: transparent;

  width: 10px;
  height: 10px;

  transition: all 0.2s ease;
}

.playback-player-contoll-btn img {
  position: absolute;
  transform: translate(-50%, -50%);

  width: 50px;
  height: 50px;

  transition: all 0.2s ease;
}

.playback-player-contoll-btn img:hover {
  width: 60px;
  height: 60px;

  background-color: rgba(116, 116, 116, 0.219);
  border-radius: 60%;
}
