input[type="range"] {
    accent-color: purple;

    transition: all 0.2s ease;
}

#playtime-slider {
  display: flex;
  align-self: end;
  width: 70%;
  border-radius: 5px;
  height: 5px;
  margin-left: 25px;
  margin-bottom: 22px;

  transition: all 0.2s ease;
}

#playtime-slider:hover {
  height: 10px;
}