.context-menu {
    display: flex;
    flex-direction: column;
    position: fixed;

    border-radius: 10px;
    width: auto;
    height: auto;

    background: var(--context-menu-background-color);

    border: solid var(--separators-color) 2px;
}

.context-menu-button {
    border-radius: 10px;
    background: none;
    border: none;
    width: auto;
    padding-right: 80px;

    height: 50px;

    align-items: center;
    align-content: center;
    text-align: center;
    justify-items: start;

    transition: all 0.1s ease-in-out;
}

.context-menu-button:hover {
    background-color: var(--context-menu-button-hover-color);
}

.context-menu-button:active {
    background-color: var(--context-menu-button-active-color);
}
