.file-pick-button {
    width: 50px;
    height: 50px;
    background: none;
    margin-top: 10px;

    justify-content: center;
    align-items: center;
    align-content: center;
    display: flex;

    border: none;

    transition: all 0.1s ease-in-out;
}

.file-pick-button > img {
    width: 50px;
    height: 50px;
}

.file-pick-button:hover {
    scale: 1.1;
}

.file-pick-button:active {
    scale: 1.2;
}
