#track-sellect-from-list-button {
    width: 100%;
    height: 80px;

    padding-left: 10px;

    transition: all 0.1s ease-in;

    display: flex;

    align-items: center;
    justify-content: space-between;
}

#add-track-to-list-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    width: 50px;
    height: 50px;
    border: none;

    transition: all 0.1s ease-in;
}

#add-track-to-list-button > img {
    width: 50px;
    height: 50px;
    scale: 0.9;
    background: none;
    transition: all 0.1s ease-in;
}

#add-track-to-list-button:hover {
    border-radius: 10px;
    background-color: var(--button-hover-color);
}

#add-track-to-list-button:hover > img {
    scale: 1;
}

#add-track-to-list-button:active {
    scale: 1.1;
    border-radius: 15px;
    background-color: var(--button-sellect-color);
}

#track-sellect-from-list-button:hover {
    background-color: var(--button-hover-color);
}

#track-sellect-from-list-button > h2 {
    width: auto;
}
#track-sellect-from-list-button > h3 {
    right: 0;
    width: 30%;
}

/* album */

#album-sellect-from-list-button {
    width: 200px;
    height: auto;
    padding: 10px;
    border-radius: 10px;

    transition: all 0.1s ease-in;
}

#album-sellect-from-list-button > img {
    width: 200px;
    height: 200px;

    display: block;

    border-radius: 10px;
}

#album-sellect-from-list-button:hover {
    background: var(--button-hover-color);
}

#add-album-to-list-button {
    margin-top: 10px;
    background: none;
    border: none;

    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 50px;
    height: 50px;

    transition: all 0.1s ease-in;
}

#add-album-to-list-button > img {
    width: 50px;
    height: 50px;

    scale: 0.9;
}

#add-album-to-list-button:hover {
    background: var(--button-hover-color);

    scale: 1.1;
}

#add-album-button-footer {
    display: flex;

    justify-content: space-between;
}

/* Performer */

#performer-sellect-from-list-button {
    width: 100%;
    height: 80px;

    padding-left: 10px;

    transition: all 0.1s ease-in;

    display: flex;

    align-items: center;
    justify-content: left;
}

#add-performer-to-list-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    width: 50px;
    height: 50px;
    border: none;

    transition: all 0.1s ease-in;
}

#add-performer-to-list-button > img {
    width: 50px;
    height: 50px;
    scale: 0.9;
    background: none;
    transition: all 0.1s ease-in;
}

#add-performer-to-list-button:hover {
    border-radius: 10px;
    background-color: var(--button-hover-color);
}

#add-performer-to-list-button:hover > img {
    scale: 1;
}

#add-performer-to-list-button:active {
    scale: 1.1;
    border-radius: 15px;
    background-color: var(--button-sellect-color);
}

#performer-sellect-from-list-button:hover {
    background-color: var(--button-hover-color);
}

#performer-sellect-from-list-button > h1 {
    padding-left: 10px;
    width: auto;
}
