/* track */
#track-playable-in-list-left-part {
    padding-left: 15px;
    display: flex;
    align-items: center;
    justify-content: left;
    width: 50%;
}

#track-playable-in-list {
    display: flex;
    justify-content: space-between;
    align-content: center;

    transition: all 0.1s ease-in-out;
}

#track-sellect-from-list-button {
    width: auto;
    height: 100px;

    background: none;
}

#track-playable-in-list:hover {
    background-color: var(--button-hover-color);
}

#add-playable-to-list {
    margin-right: 15px;

    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-content: center;
    background: none;

    border: none;

    transition: all 0.1s ease-in-out;
}

#add-playable-to-list:hover {
    scale: 1.1;
    background-color: var(--button-hover-color);
    border-radius: 10px;
}

#add-playable-to-list:active {
    scale: 1.2;
    background-color: var(--button-sellect-color);
    border-radius: 10px;
}

#add-playable-to-list > img {
    width: 30px;
    height: 30px;
}

#track-playable-in-list:hover {
    padding-left: 10px;
}

/* album */

#album-sellect-from-list-button {
    width: 200px;
    height: 230px;
    padding: 15px;
    border-radius: 10px;
}

#album-sellect-from-list-button:hover {
    background-color: var(--button-hover-color);
}

#album-playable-sellect-top {
    display: flex;
}

#album-playable-sellect-top > #add-playable-to-list {
    position: relative;
    align-self: flex-end;
    right: 190px;
    bottom: 10px;
}

#album-sellect-playable-cover {
    width: 200px;
    height: 200px;

    border-radius: 15px;
}

/* performer */

#performer-sellect-from-list-button {
    display: flex;
    align-items: center;
    padding-left: 10px;
    transition: all 0.1s ease-in-out;
}

#performer-sellect-from-list-button:hover {
    padding-left: 20px;
    background-color: var(--button-hover-color);
}
