:root {
    --background-color: #1f1f1f;
    --separators-color: #5a267277;
    --text-color: #f1f1f1;

    --button-hover-color: rgba(88, 88, 88, 0.301);
    --button-sellect-color: rgba(88, 88, 88, 0.432);

    --sliders-color: #8c00ff;

    --search-playback-color: #111;

    --settings-subparagraph-background-color: rgba(83, 83, 83, 0.37);
    --settings-subparagraph-hover-background-color: rgba(10, 10, 10, 0.77);
    --settings-subparagraph-active-background-color: rgba(3, 3, 3, 0.9);
}
