:root {
    --background-color: #1f1f1f;
    --separators-color: #5a267277;
    --text-color: #f1f1f1;

    --button-hover-color: rgba(88, 88, 88, 0.301);
    --button-sellect-color: rgba(88, 88, 88, 0.432);

    --sliders-color: #8c00ff;

    --search-playback-color: #111;
}
