.playable-sellect-item {
    transition: all 0.2s ease-in-out;
}

.playable-sellect-item:hover {
    background-color: var(--button-hover-color);
}

.playable-sellect-item:active {
    background-color: var(--button-active-color);
}

.playable-sellect-item.track {
    height: 40px;
    min-height: 40px;
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
}

.playable-sellect-item.track > h3 {
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    width: 30%;
    transition: all 0.1s ease-in-out;
}


.albums-set > div {
    padding: 20px;
    border-radius: 15px;
    width: 90vw;
    display: flex;
    overflow-x: auto;
    height: 210px;
    overflow-y: hidden;
    gap: 10px;
    margin-bottom: 10px;
}

.playable-sellect-item.album {
    display: flex;
    flex-direction: column;
    min-width: 200px;
    min-height: 200px;
    align-items: center;
    justify-content: start;
    border-radius: 20px;
}


.playable-sellect-item.album > h4 {
    width: 170px;
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    text-align: center;
}

.album-cover {
    display: flex;
    padding: none;
    width: 170px;
    height: 170px;
    border-radius: 15px;
    z-index: 1;
}

.album-cover > img {
    width: 170px;
    height: 170px;
    object-fit: cover;
    border-radius: 15px;
}

.playable-sellect-item.performer {
    height: 40px;
    min-height: 40px;
    width: auto;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0 20px;
}

.playable-sellect-item.performer > h3 {
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    text-justify: start;
}

.playable-sellect-item.playlist {
    height: 40px;
    min-height: 40px;
    width: auto;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0 20px;
}

.sellect-playlist-to-save-track-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    background: none;
    transition: all 0.2s ease-in-out;
}

.sellect-playlist-to-save-track-button:hover {
    background: var(--button-hover-color);
}

.sellect-playlist-to-save-track-button:active {
    background: var(--button-active-color);
}
