.section {
    display: flex;
    overflow: hidden;
}

.section.main-tab-section {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    width: 100vw;
    height: calc(100vh - var(--playback-controll-section-height) - 35px);
}

.section.footer-section {
    padding-top: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0px;
    height: var(--playback-controll-section-height);
    width: 100%;
    border-top: solid 1px;
}

#left-menu {
    width: var(--left-menu-section-width);
    min-width: var(--left-menu-section-width);
    border-right: solid 1px;
    display: block;
    justify-content: center;
}

.section.top-section {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    position: fixed;
    z-index: 200;
    justify-content: start;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: var(--second-color);

    width: 80%;
    height: 80%;
    border-radius: 30px;
}

#blur-for-top {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    position: fixed;
    z-index: 199;
    width: 120vw;
    height: 120vh;
    background: var(--second-color);
    opacity: 0.3;
    filter: blur(var(--background-blur));
}

#track-preview-section {
    display: flex;
    flex-direction: unset;
    align-items: center;
    padding-left: 50px;
    width: calc(100vw - var(--left-menu-section-width));
}
