.section {
    display: flex;
    overflow: hidden;
}

.section.main-section {
    display: flex;
    height: calc(100vh - var(--playback-controll-section-height));
}

.section.footer-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    height: var(--playback-controll-section-height);
    width: 100%;
    border-top: solid 1px;
}

#left-menu {
    width: var(--left-menu-section-width);
    min-width: var(--left-menu-section-width);
    border-right: solid 1px;
    display: block;
    justify-content: center;
}

#tracks-list-section {
    display: flex;
    flex-direction: column;
    width: calc(100vw - var(--left-menu-section-width));
    overflow-y: auto;
}

#albums-list-section {
    display: flex;
    flex-direction: column;
    width: calc(100vw - var(--left-menu-section-width));
    overflow-y: auto;
}

#performers-list-section {
    display: flex;
    flex-direction: column;
    width: calc(100vw - var(--left-menu-section-width));
    overflow-y: auto;
    overflow-x: hidden;
}

#queue-section {
    display: flex;
    flex-direction: column;
    width: calc(100vw - var(--left-menu-section-width));
    overflow-y: auto;
    overflow-x: hidden;
}

#track-preview-section {
    display: flex;
    align-items: center;
    padding-left: 50px;
    width: calc(100vw - var(--left-menu-section-width));
}

#settings-section {
    display: flex;
    flex-direction: column;
}
