.settings-div {
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
}

.settings-div > h1 {
    display: flex;
}

.drop-list-button > h3 {
    text-align: left;
    text-overflow: ellipsis;

    text-wrap: nowrap;
    white-space: nowrap;
}

.drop-list-button {
    width: calc(100vw - var(--left-menu-section-width));
    white-space: nowrap;
}

#add-path-to-lib > img {
    width: 40px;
    height: 40px;
}

#apply-settings {
    width: auto;
    height: 40px;
    display: flex;
    position: fixed;
    right: 0px;
    bottom: calc(var(--playback-controll-section-height) + 35px);
}
