@import "background.css";
@import "panels.css";
@import "buttons.css";
@import "scrollbar.css";
@import "tabs.css";
@import "text.css";
@import "playableList.css";
@import "cover.css";

:root {
    --background-src: #1c1c1c;
    --second-color: #212121;
    --third-color: #2E8B57;

    --playback-panel-height: 75px;
    --left-panel-width: 75px;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    user-select: none;
}
