@import "sections.css";
@import "leftMenuButtons.css";
@import "playbackControll.css";
@import "button.css";
@import "plablesSellects.css";
@import "text.css";
@import "scrollbar.css";
@import "trackPreview.css";
@import "settings.css";
@import "row.css";
@import "inputs.css";

:root {
    font-family:
        system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

    --playback-controll-section-height: 80px;
    --left-menu-section-width: 50px;
    --button-hover-color: #65547D;
    --button-active-color: #7F68A2CC;
    --text-select-color: rgba(127, 104, 162, 0.8);
    --albums-empty-color: rgba(10, 10, 10);

    --text-size-1: 0;
    --text-size-2: 0;
    --text-size-3: 0;
    --text-size-4: 0;

    --background-blur: 0px;

    --sliders-color: #460077
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    user-select: none;
}

img {
    pointer-events: none;
}

#background-image {
  position: fixed;
  left: 0;
  right: 0;
  z-index: -100;
  scale: 1.2;
  filter: blur(var(--background-blur));
}
