h1 {
    font-size: var(--text-size-1);
    font-weight: bold;
    color: aliceblue;
    text-align: center;
    margin: 0;
}

h2 {
    font-size: var(--text-size-2);
    font-weight: bold;
    color: aliceblue;
    text-align: center;
    margin: 0;
}

h3 {
    font-size: var(--text-size-3);
    font-weight: bold;
    color: aliceblue;
    text-align: center;
    margin: 0;
}

h4 {
    font-size: var(--text-size-4);
    font-weight: bold;
    color: aliceblue;
    text-align: center;
    margin: 0;
}
